p {
  color: rgb(255,177,0);
}
h1 {
  color: #bf9430;
  text-align: right;
}
h2 {
  color: #a67300;
  text-align: center;
}
h3 {
  color: #ffc540;
}
li {
  color: #ffd473;
}
p {
  width: 300px;
}
table {
  width: 500px;
}
th {
  text-align: left;
}
td {
  width: 400px;
  height: 300px;
  text-align: center;
}
